*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    width: 90%;
    max-width: 450px;
}

h1{
    color : black;
    opacity: 0.75;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
}

.display-container{
    position: relative;
    border-radius: 1rem;
    border-bottom:0.35 solid;
    margin: 1rem 0;
    padding-top: 0.35rem;
}

.display{
    width: 100%;
    padding: 1.15rem, 1rem;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25 rem;
}

.display-container button{
    position: absolute;
    top: 57%;
    right: 0.25rem;
    transform: translateY(-50%);
    height: 65%;
}

.input-container{
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    font-size: 1.5rem;
}

.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateButton{
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    border-radius: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}

.check{
    display: flex;
    align-items: center;
    margin: 1rem 0;
    gap: 0 1rem;
}
.check input{
    cursor: pointer;
}

.slider{
    width: 100%;
    cursor: pointer;
    margin-top: 0.3rem;
    margin-bottom: 0.2rem;
}

.copybtn{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

.tooltip{
    position: absolute;
    font-size: 1rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}
